*{
  margin:0;
  padding:0;
}

body{
  font-family: Georgia, serif; 
  font-size: 20px;
  color: #079907;
  background-color: #FFFEDE;
}

    a:link {
        text-decoration: none;
      }
      

a p{
    text-align: center;
    color: #070707;
}
header{
background-color: #008800;
color: #070707;
}

nav{
   
    color: #ffffff;
    text-align: center;
    line-height: 2em;
    display: inline-block;
    width: 80%;
    align-items: stretch;
    height: auto;
    font-size: 1.5em;
}

nav>li{

    display: inline-block;
}
header>img {
    width: 10%;
    position: relative;
    top: 15px;
    height:20%;
    border-radius: 50%;
    margin: auto 1em;
}


a{
    color: #ffffff;
}
main{
    background-color: #F5F5D5;
    color: #079907;
}
main > a {
color:#079907;  
}
footer{
    color: #070707;
    background-color: #079907;
}

footer a{
    color: #ffffff;
}

 li{

     display: inline-block;
   }


 h1{
     text-align: center;
 }

 p{
     line-height: 2em;
 }

 .container{
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  column-gap: 1em;
  margin: 1em auto;
 }

 .container img{
    height: 100%;

    width:100%;
    border-radius: 25px;
 }


 .flex{
 display: flex; 
 flex-direction: row;
 flex-wrap: wrap;
}

.flex > img{
    border-radius: 25px;
    margin: 10px;
  padding: 10px;
  height: 100;
  justify-content: center;

}
