*{
  margin:0;
  padding:0;
}

body{
  font-family: Georgia, serif; 
  font-size: 20px;
  color: #079907;
  background-color: #FFFEDE;
}

    a:link {
        /*text-decoration: none;*/
      }
      

a p{
    text-align: center;
    color: #260303;
    font-family: Georgia, serif;
}
header{
background-color: #008800;
color: #260303;
border-radius: 10px;
padding: 0.5em;
}

nav{
   
    color: #260303;
    text-align: center;
    line-height: 2em;
    display: inline-block;
    width: 80%;
    align-items: center;
    height: auto;
}

nav>li{

    display: inline-block;
    font-size: 45px;
    padding: 2em;
    margin: 2em;
}
header>img {
    width: 18%;
    position: relative;
    top: 15px;
    height:18%;
    border-radius: 50%;
}


a{
    color: #260303;
}
main{
    background-color: #F5F5D5;
    color: #079907;
}

footer{
    padding: 1em;
    color: #F5F5D5;
    background-color: #079907;
    border-radius: 20px;
}

footer a{
    color: #ff2200;
}

 li{

     display: inline-block;
   }


 h1{
     text-align: center;
 }

 p{
     line-height: 2em;
 }

 .container{
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  column-gap: 1em;
  margin: 1em auto;
 }

 .container img{
    height: 100%;

    width:100%;
    border-radius: 25px;
 }

 .flex{
 display: flex; 
 flex-direction: row;
 flex-wrap: wrap;
}

.flex > img{
    border-radius: 10px;
    margin: 10px;
  padding: 10px;

}
